.LeaveRequestArchive .accordion-body {
    background-color: #cfceced3;
}

.LeaveRequestArchive .accordion-header>button,
.LeaveRequestArchive .card-header {
    background-color: #f8f8f8;
}

.LeaveRequestArchive .accordion .card-body {
    background-color: #666666;
    border-radius: 5px;
}

.LeaveRequestArchive strong{
    color: #76ABAE;
    font-weight: 700;
}

.LeaveRequestArchive .accordion-body .card-title span{
    color: #e4e6e9;
    font-weight: 700;
    font-family: "poetsen";
}